.logoHeader {
  margin-bottom: 50px;
}

.titleHeader {
  font-size: 45px;
}

.descriptionHeader {
  font-size: 23px;
  color: grey;
}

.collapseM {
  margin-bottom: 100px;
}

.panelP {
  padding: 10px;
}