$siderWidth: 270px;
$siderCollapsedWidth: 80px;
$headerHeight: 80px;

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  min-height: 100vh;
  position: relative;
  margin-left: $siderWidth;
}

.sider {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.headerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.content {
  padding: 40px;
}

.drawerBtn {
  $size: 3rem;
  @extend %flexCenter;
  position: absolute;
  bottom: 50vh;
  right: 100%;
  z-index: 1000;
  width: $size;
  height: $size;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 20px;
}

.drawerBtnIcon {
  @extend %flexCenter;
  font-size: 1.1em;
}

.drawerTrigger {
  color: white;
  position: absolute;
  bottom: 50vh;
  right: 100%;
  z-index: 200;

  width: 48px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  background: #1890ff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  pointer-events: auto;
}

.footer {
  margin-top: auto;
  height: 100px;
  background-color: red;
}
