$headerHeight: 64px;
$siderWidth: 270px;
$siderCollapsedWidth: 80px;

.layout {
  height: 100vh;
  position: relative;
  margin-left: $siderWidth;
}

.sider {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  z-index: 1;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.content {
  padding: 40px;
}



