.footerDashboard {
  background: #001529;
  color: white;
  box-shadow: 4px 1px 0 rgba(0, 21, 41, 0.08);
  .section {
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}