*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    height: 56px;
    margin: 0 22px 22px 22px;
}
.wrapper {
    border: 1px solid #EA0029;
    border-radius: 4px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.title img {
    width: 48px;
    margin: 3px 8px;
}
.title span {
    text-transform: uppercase;
    color: #EA0029;
    font-size: 28px;
    font-weight: bold;
}

.btn-wrapper{
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.children-container{
    width: 100%;
    padding: 28px 28px 36px 28px;
    margin-bottom: 20px;
}