.input {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.input input {
    border: 1px solid #EA0029;
    border-radius: 5px;
    padding: 7px;
    line-height: 18px;
}

.input label {
    margin-bottom: 3px;
    font-size: 14px;
}

.checkbox {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0;
}

.checkbox label {
    margin-left: 5px;
    margin-bottom: 0;
}