.layout {
  min-height: 100vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #1890ff;
  }
}

.logo {
  max-width: 100%;
  margin: 16px;
}

.siteLayoutBackground {
  background: #fff;
}

.pageHeader {
  background-color: #e6f7ff;
  padding-left: 10px;
}
