.playerWrapper {
  position: relative;
}

.playerWrapper:hover .playBtn {
  opacity: .8;
}

.playBtn {
  font-size: 100px;
  color: white;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  transition: opacity .5s;
}

