.playerWrapper {
  margin: 40px 0;
  position: relative;
  height: 400px;
  width: 100%;
}

.playerWrapper:hover .playBtn {
  opacity: .8;
}

.playBtn {
  font-size: 100px;
  color: grey;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  z-index: 20;
  transition: opacity .5s;
}

